*
!.gitignore
!*.bash
!*.launch
!*.launch.xml
!*.md
!*.msg
!*.py
!*.yaml
!CMakeLists.txt
!Dockerfile
!package.xml
!LICENSE*

!ds4_driver/
!ds4_driver/config/
!ds4_driver/ds4_driver/
!ds4_driver/launch/
!ds4_driver/nodes/

!ds4_driver_msgs/
!ds4_driver_msgs/msg/

!docker/
!docker/*
!run_docker.bash


!README.md
!LICENSE.txt
!nodes/
!src/
!src/*
!msg/
!config/
!launch/
!ds4_driver/

!docker/
!docker/*
!run_docker.bash
.cache/vscode-cpptools/
.vscode-server/
.vscode-remote-containers/
